﻿


body {
    background-color: #F4EDE5;
    font-family: Miloweb;
}

.noPadding {
    padding: 0 !important;
}


#userid, #ncbtn, #holiday, #admintoggles, #admintoggles2, #editlogid, #editcoderid, #editprojectid, #editsponsorid, .hidden {
    display: none;
}

.adminToggles {
    display: none;
}

#topContainer {
    height: 20vh;
}

#techCoreLogoInternHub {
    height: 2%;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
}

#internHubNavRow {
    background-color: #81D3EB;
    border-radius: 10px;
    margin-bottom: 5vh;
    box-shadow: 5px 5px #378DBD;
}

.internHubNavBarOption {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.internHubNavBarOptionDiv {
    text-align: Left;
    padding: 0 !important;
}

#internHubDisplayContainer {
    background-color: #E2E9EB;
    border-radius: 10px;
    box-shadow: 5px 5px #9EABAE;
    margin-bottom: 5vh;
}

#internLogDiv {
    border-radius: 10px;
    font-size: 1.5rem !important;
}

.internHubSelectDropDown {
    outline: none !important;
    background-color: #F4EDE5;
    border-bottom: solid grey 1px;
}

.internHubSelectDateDropDown {
    outline: none !important;
    background-color: #F4EDE5;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid grey 1px;
}

.clickableElement :hover {
    background-color: lightblue;
}

.btn-warning {
    background-color: #F4976C;
}

.btn-primary {
    background-color: #303C6C;
}

a {
    color: #303C6C;
}

table {
    border-color: black;
    margin-bottom: 0;
}

tbody {
    border-color: black;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-color: black;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: black;
}

.table-bordered {
    border: 1px solid black;
}

.editmodalInternHub {
    width: 100%;
    border: solid grey 1px;
    margin-bottom: 5px;
    /*    background-color: rgb(244, 237, 229);*/
    border-radius: 5px;
    font-size: large;
    background-color: #f5f5f5;
    outline: none;
}

:focus {
    border: solid black 2px;
}

.editinternModalBody {
    padding-left: 5vh;
    padding-right: 5vh;
}

.modal-content {
    /*background-color: rgba(244, 237, 229, 0.90) !important;*/
    /*background-color: #F4EDE5;*/
}

.editmodalInternHubHeader {
    font-family: MiloWeb;
    font-weight: bold;
}
