﻿body, html {
    background-color: white;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*background-color: black;*/
    background-color: #3A4F73;
    color: white;
}

.home_body {
    background-color: white;
    width: 100%;
}

.popover-title {
    color: black;
}

.jumbotron {
    background-color: #3A4F73;
    color: white;
}

h1 {
    font-family: proxima-nova, sans-serif;
    color: white;
    font-size: 120px;
    font-weight: 700;
}

label {
    color: black;
    font-size: 20px;
}

.row {
    height: 100vh;
}

#mailing-list-section {
    background-image: url("https://techcoreassets.blob.core.windows.net/images/ultrasound-side-view_blurred.png");
}

.card {
    font-family: proxima-nova, sans-serif;
    color: black;
    background-color: white;
    width: 95% !important;
}

.card-text {
    color: black !important;
    font-size: 30px;
}

.card-title {
    color: black !important;
    font-size: 30px;
    font-weight: 600 !important;
}

.card-body {
    color: black;
    font-size: 30px;
}

#download-btn {
    border: 2px solid white;
}

.nav-link {
    font-size: x-large !important;
}
/*#region Navigation*/
/*.navigation {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .25s;
}*/

/*bg red, blue black white*/
.bg-black {
    background-color: black;
}


.main-row {
}

.sub-row {
}

.text-black {
    color: black;
}
/*.row{
    display: inline-block;
    margin-right: -16px;
    margin-left: 0;
}*/

#navButton, #navButtons, navbarContent {
    top: 0;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    float: right;
}

/*Make sure the navBar is above everything*/
#navBar {
    padding-top: 0px;
    height: 50px;
    z-index: 9999;
}

#aboutLink, #projectsLink, #contactsLink {
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

#navButtons {
    width: 400px;
}

#techCoreOverlay {
    position: absolute;
    left: 0px;
    margin-left: -17%;
    opacity: 0.5;
    z-index: 1;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }


#siteHeader {
    height: 100px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.user {
    border: 5px solid black;
    background: black;
    margin: 10px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    text-align: center;
    border-radius: 0px !important;
}

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    margin-left: 75px;
    background-image: none;
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 55px;
        color: black;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: black;
    }


#ellerLogo {
    margin: 0;
    position: absolute !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Tablet and up */

@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/*.navigation .navbar {
    padding-left: 0px;
    padding-right: 0px;
}

    .navigation .navbar-brand a {
        color: white;
    }

    .navigation .dropdown-item {
        transition: all .25s;
    }

        .navigation .dropdown-item:hover {
            color: #395180;
        }

    .navigation .brand-text,
    .navigation .brand-logo {
        font-size: 22px;
        transition: all .25s;
    }

        .navigation .brand-text:hover,
        .navigation .brand-logo:hover {
            color: #CC665E;
            text-decoration: none;
        }

    .navigation .brand-logo {
        padding: 12px 12px;
        margin: 0px;
        margin-right: 10px;
        font-weight: bolder;
        align-content: flex-start;
    }

    .navigation .nav-link {
        color: white !important;
        text-transform: uppercase;
        font-size: .85em;
        letter-spacing: 1px;
        transition: all .25s;
    }

        .navigation .nav-link:hover {
            color: #dadada !important;
        }

    .navigation .navbar-toggler {
        border: none;
        margin-top: 5px;
        color: white;
        align-content: flex-end
    }

@media (max-width: 767px) {
    .navigation .navbar-toggler {
        margin-left: 100px;

    }
    .navigation .brand-logo {
        margin-right: 100px;
    }

}*/
/*#endregion*/
/*.navbar {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    min-height: 50px !important;
}*/
.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img .aos-init .aos-animate {
    width: 40vw;
    height: 40vw;
}

.h1-title {
    font-size: 60px;
    color: white !important;
    font-weight: 700;
}

.jumbotron {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fas {
    padding: 17.5px;
    color: black;
}

.transparent-navbar {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5;
    box-shadow: 1px 5px black;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.bgimage {
    width: 100%;
    height: 100vh;
    background: url('unknown_4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .bgimage h5 {
        color: white;
        text-shadow: 2px 2px #333;
    }

/*#region JUMBO*/
.jumbo {
    color: white;
    height: 100vh;
}

    .jumbo h1 {
        font-size: 75px;
        font-weight: bolder;
        padding-top: 30vh;
    }

@media (min-width: 1279px) {
    .jumbo h1 {
        font-size: 95px;
        padding-top: 32vh;
    }
}

.jumbo h2 {
    font-size: 22px;
    margin-top: 55px;
    line-height: 30px;
}

/*#endregion*/

/*#region FOOTER*/
.footer .footer-top {
    background: #0C234B;
    text-align: center;
    padding: 50px 0px;
}

    .footer .footer-top .title {
        color: white;
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .footer .footer-top .links {
        margin-top: 25px;
    }

        .footer .footer-top .links .link {
            margin: 0px 3px;
            color: white;
        }

@media (min-width: 767px) {
    .footer .footer-top .links .link {
        margin: 0px 10px;
    }
}

.footer .footer-top .links a {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all .25s;
}

    .footer .footer-top .links a:hover {
        color: #dadada;
        text-decoration: none;
    }

.footer .footer-top .face {
    padding: 10px 14px !important;
}

.footer .footer-top .social-icon {
    background-color: #AB0520;
    border-radius: 50%;
    font-size: 16px;
    margin: 0px 10px;
    padding: 10px 12px;
    transition: all .25s;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 100%;
}

    .footer .footer-top .social-icon i {
        color: #fff;
    }

    .footer .footer-top .social-icon:hover {
        background-color: #0C234B;
    }

.br-on-mobile {
    display: none;
}

@media (max-width: 767px) {
    .br-on-mobile {
        display: inherit;
    }
}

.footer .footer-bottom {
    background: #8B0015;
    color: white;
    text-align: center;
    padding: 25px 20px;
}

    .footer .footer-bottom .footer-text {
        display: block;
        font-size: 16px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .footer .footer-bottom .footer-text-2 {
        display: block;
        font-size: 16px;
        margin-top: 4px;
    }

@media only screen and (max-width: 760px) {
    #mobile-detector {
        display: none;
    }
}
/*#endregion*/

/*#region MISC*/
.sect {
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonial-container {
    box-shadow: none;
}

.carousel-inner.vv-3 .carousel-item.active,
.carousel-inner.vv-3 .carousel-item-next,
.carousel-inner.vv-3 .carousel-item-prev {
    display: flex;
}

.carousel-inner.vv-3 .carousel-item-right.active,
.carousel-inner.vv-3 .carousel-item-next {
    transform: translateX(17%);
}

.carousel-inner.vv-3 .carousel-item-left.active,
.carousel-inner.vv-3 .carousel-item-prev {
    transform: translateX(-17%);
}

.carousel-inner.vv-3 .carousel-item-right,
.carousel-inner.vv-3 .carousel-item-left {
    transform: translateX(0);
}



.img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.title-sub,
.title,
.context-text,
.button {
    display: block;
}

.title {
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}

hr {
    border-width: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 40px;
}


@media only screen and (max-width: 760px) {
    #mobile-detector {
        display: none;
    }
}
/*#endregion*/

/*#region HOME */
/*#region About Video*/
.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    /*margin-bottom: 5vh;*/
}

    .video-container #myVideo .desktop {
        width: 100%;
        height: 100%;
        position: center;
        background-size: cover;
    }

    .video-container #myVideo .mobile {
        display: none;
        width: 100%;
        height: 100%;
        position: center;
        background-size: cover;
    }

@media (max-width: 767px) {
    .video-container #myVideo .mobile {
        display: inherit;
    }

    .video-container #myVideo .desktop {
        display: none;
    }
}

#myVideo {
    object-fit: fill;
}

.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    height: 100%;
    max-width: 90em;
    margin: auto auto;
    box-sizing: border-box;
    padding: 2em;
}

#videoOverlay {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2;
    margin-left: 33%;
    margin-right: 0px;
    width: 67%;
    box-sizing: border-box;
}

.overlay .title {
    color: white;
    display: block;
    font-size: 25px;
    font-weight: bolder;
    line-height: 25px;
}

.overlay .title-sub {
    color: white;
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-top: 35px;
}

.overlay #myBtn {
    width: 50px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    position: absolute;
    right: 5px;
    margin-bottom: 20px;
    bottom: 0;
    opacity: 0.5;
    color: #fff;
    cursor: pointer;
    float: right;
}

    .overlay #myBtn:hover {
        background: #ddd;
        color: black;
    }

.overlay #myAudio {
    width: 50px;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    right: 60px;
    margin-bottom: 20px;
    bottom: 0;
    border: none;
    background: #000;
    opacity: 0.5;
    color: #fff;
    cursor: pointer;
    float: right;
}

    .overlay #myAudio:hover {
        background: #ddd;
        color: black;
    }

.overlay .button {
    display: block;
    margin-top: 25px;
}

    .overlay .button a, .tgbutton {
        background: #AB0520;
        color: white;
        font-size: 16px;
        font-weight: bolder;
        letter-spacing: 1px;
        padding: 15px 25px;
        text-transform: uppercase;
        transition: all .25s;
    }

        .overlay .button a:hover {
            background: #0C234B;
            text-decoration: none;
        }

#aboutProgramAnchor {
    position: absolute;
    bottom: 0;
    width: 700px;
    margin-bottom: 20px;
}

#aboutProgramButton {
    width: 600px;
}

/*#videoOverlayDescription{
    position: absolute;
    left: 75px;
}*/



@media (min-width: 767px) {
    .overlay .title {
        font-size: 70px;
        line-height: 70px;
    }

    .overlay .sub-title {
        font-size: 25px;
        line-height: 35px;
    }
}

@media (min-width: 1279px) {
    .overlay .title {
        font-size: 78px;
        line-height: 78px;
    }

    .overlay .sub-title {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (min-width: 1599px) {
    .overlay .title {
        font-size: 95px;
        line-height: 95px;
    }

    .overlay .sub-title {
        font-size: 45px;
        line-height: 55px;
    }
}

/*#endregion*/
.title {
    font-size: 65px;
    font-weight: bolder;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.content-text {
    display: block;
    font-size: 20px;
    padding: 10px 0px 40px 0px;
}

.button {
    background-color: #AB0520;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 25px;
    transition: all .25s;
    width: 50%;
    margin: auto;
}

    .button:hover {
        background-color: #0C234B;
    }

a:hover {
    text-decoration: none;
}

.custom-gutters {
    margin-right: -60px;
    margin-left: -60px;
}

    .custom-gutters > .col,
    .custom-gutters > [class*="col-"] {
        padding-right: 60px;
        padding-left: 60px;
    }

/*#region Testimonials 1*/
.testimonials {
    background-color: #dadada;
}

    .testimonials .title, .testimonials .title-sub {
        display: block;
    }

    .testimonials .title {
        font-size: 65px;
        font-weight: bolder;
        line-height: 65px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .testimonials .title-sub {
        font-family: "MiloSerifWeb";
        font-size: 20px;
        font-weight: bolder;
    }

    .testimonials .col-lg-4 {
        margin-top: 15px;
    }

    .testimonials .test-card {
        padding: 30px 25px;
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 100%;
    }

        .testimonials .test-card img {
            border-radius: 100%;
            border: solid;
            border-color: #AB0520;
            height: 150px;
            width: auto;
        }

        .testimonials .test-card .quotation-mark, .testimonials .test-card .quote, .testimonials .test-card .name, .testimonials .test-card .job-title {
            display: block;
        }

        .testimonials .test-card .job-title {
            font-size: 20px;
        }

        .testimonials .test-card .quotation-mark {
            margin-top: 25px;
            font-family: serif;
            font-size: 20px;
        }

        .testimonials .test-card .quote {
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 22px;
            text-align: center;
        }

        .testimonials .test-card .name {
            font-size: 20px;
            font-weight: bolder;
        }

/*#endregion*/

/* testimonials revamp -----some things still need to be edited *ADD slider----------------*/

/*#region TESTIMONIALS 2*/
.testimonials-2 {
    padding-top: 10vh;
    background-color: #E2E9EB;
    /*padding-bottom: 20vh;*/
}

    .testimonials-2 h1 {
        text-align: center;
        font-weight: bold;
        /*color: #AB0520;*/
        padding-bottom: 10px;
        text-transform: uppercase;
        font-size: 52px;
    }

        .testimonials-2 h1::after {
            content: '';
            background-color: #AB0520;
            display: block;
            height: 3px;
            width: 170px;
            margin: 20px auto 5px;
        }

    .testimonials-2 .title-sub {
        font-size: 20px;
    }

    .testimonials-2 .row {
        margin-top: 50px;
        align-content: center;
        text-align: center;
    }

.test {
    margin-top: 30px;
    margin-bottom: 50px;
}

.profile {
    padding: 70px 10px 10px;
    background-color: #efefef;
}

    .profile:hover {
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    }

    .profile img {
        top: -60px;
        position: absolute;
        left: calc(50% - 60px);
        border: 8px solid white;
    }

.user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #AB0520;
    font-weight: 500;
}

    .profile h3 span {
        font-size: 12px;
        color: #333;
    }

.testimonials-2 blockquote {
    font-size: 19px;
    line-height: 30px;
    margin: 35px;
}

    .testimonials-2 blockquote::before {
        content: '\22';
        font-size: 50px;
        position: relative;
        color: #AB0520;
        line-height: 20px;
        bottom: -15px;
        right: 5px;
    }

    .testimonials-2 blockquote::after {
        content: '\22';
        font-size: 50px;
        position: relative;
        color: #AB0520;
        line-height: 20px;
        bottom: -15px;
        left: 5px;
    }
/*#endregion*/

/*#region Event Calendar*/
#TC_fullCalendar {
    background-color: white;
    padding: 50px;
}

.colorKey {
    list-style: none;
}

    .colorKey li {
        float: left;
        margin-right: 10px;
    }

    .colorKey span {
        border: 1px solid #ccc;
        float: left;
        width: 20px;
        height: 20px;
        margin: 2px 5px 2px 15px;
    }
/*#endregion*/

/*#endregion*/

/*#region ABOUT */

/*#region About Jumbo*/
.about-jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url('https://techcoreassets.azureedge.net/images/TCTeam002.JPG') no-repeat center center fixed;
    background-size: cover;
}

    .about-jumbo .overview-link {
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        top: 34vh;
        display: none;
    }

        .about-jumbo .overview-link .fa {
            border: solid;
            font-size: 20px;
            padding: 10px 16px;
            border-radius: 500px;
        }

@media (min-height: 800px) {
    .about-jumbo .overview-link {
        display: block;
    }
}

/*#endregion*/

/*#region OVERVIEW*/
.program-overview {
    background-image: url('https://techcoreassets.azureedge.net/images/TG Triangle Burst@4x.png');
    background-size: cover;
    background-position: left center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

    .program-overview h1 {
        font-size: 35px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .program-overview hr {
        border-color: #AB0520;
        border-width: 3px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 40px;
    }

    .program-overview p {
        font-size: 18px;
    }

    .program-overview .overview-card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: none;
        border-bottom: solid;
        border-radius: 0;
        border-width: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        padding: 7%;
        margin: 2vh;
    }

        .program-overview .overview-card .overview-icon {
            font-size: 24px;
        }


/*#endregion*/

/*#region MODEL*/
.program-model {
    background: url('https://techcoreassets.azureedge.net/images/TCTeam004.JPG') no-repeat center center fixed;
    background-size: cover;
}

    .program-model .row {
        background-color: rgba(0,0,0,0.5);
        padding: 25px 25px 25px 25px;
    }


    .program-model img {
        width: 100%
    }

    .program-model .title {
        color: white;
    }

    .program-model hr {
        display: block;
        height: 1px;
        background-color: white;
        color: white;
    }

    .program-model p {
        color: white;
    }


/*#endregion*/

/*#region Sponsors*/
/*.sponsors {
    background: url('https://techcoreassets.azureedge.net/images/Asset 2@4x-100.jpg') no-repeat center center fixed;
    background-size: cover;
}*/

.sponsors img {
    padding: 15px;
    width: 100%;
}

.sponsors .title {
    color: black;
}

.sponsors hr {
    border-color: black;
}
/*#endregion*/

/*#region Developers*/
.developers {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/shattered.png");
    padding: 15vh 0vh;
}

    .developers .dev-card {
        background-color: white;
        padding: 7%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-top: 2vh;
    }

        .developers .dev-card img {
            border: solid;
            border-color: transparent;
            border-width: 5px;
            border-radius: 100%;
            width: 60%;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .developers .dev-card h2 {
            font-size: 28px;
            font-weight: bolder;
            margin-top: 15px;
            text-transform: uppercase;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .developers .dev-card h3 {
            font-size: 22px;
        }

    /*.developers .dev-card:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        }

            .developers .dev-card:hover h2 {
                color: #395180;
            }

            .developers .dev-card:hover img {
                border-color: #395180;
            }*/

    .developers .accordion {
        background-color: #AB0520;
        color: white;
        font-size: 20px;
        font-weight: bolder;
        padding: 10px 15px;
        transition: all .25s;
        width: 300px;
    }

    .developers .social-links .col-2 {
        margin-top: 5%;
    }

    /*.developers .social-links #collapsible {
        display: none;
        overflow: hidden;
    }*/

    .developers .social-links a {
        color: #B6BEC1;
        font-size: 24px;
    }

        .developers .social-links a:hover {
            color: #395180;
            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }


    /*.developers .social-links .projects {

        }


        .developers .social-links .badges {

        }*/

    .developers h1 {
        text-transform: uppercase;
        text-align: center;
    }

    .developers hr {
        border-color: #395180;
        border-width: 3px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 40px;
    }

.dev-card-overlay {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.opac {
    opacity: 1;
}

.not_opac {
    opacity: 0;
}

.sorta_opac {
    opacity: 0.3;
}
/*#endregion*/

/*#region STACK*/
.stack {
    background: url('https://techcoreassets.azureedge.net/images/FB Cover Photo Background@4x.png') no-repeat center center fixed;
    background-size: cover;
}

    .stack .title {
        color: white;
    }

    .stack hr {
        border-color: white;
    }

    .stack img {
        margin-top: 15px;
        width: 100%;
    }

    .stack .b-logo {
        width: 125px;
        padding-top: 10px;
    }

@media (min-width: 1279px) {
    .stack .col-6 {
        padding: 15px;
    }
}
/*#endregion*/

/*#region OBS*/
/*.videoad {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/shattered.png");
    padding-top: 15vh;
    padding-bottom: 15vh;
}

    .videoad h1 {
        font-size: 35px;
        font-weight: bolder;
        text-transform: uppercase;
    }

    .videoad hr {
        border-color: #AB0520;
        border-width: 3px;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 40px;
    }

    .videoad p {
        font-size: 18px;
    }*/

/*
.faculty-support {
    background: #B6BEC1;
}

    .faculty-support img {
        border-radius: 5px;
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100%;
    }

    .faculty-support .text {
        display: block;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .faculty-support hr {
        border-color: #0C234B;
    }
.web-systems {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/TG - World Data BG.png") no-repeat center center fixed;
    background-size: cover;
}

    .web-systems .title {
        color: white;
    }
    

.partners {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/TG - World Data BG.png") no-repeat center center fixed;
    background-size: cover;
}
.student-engagement img {
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.student-engagement .text {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
}

.student-engagement hr {
    border-color: #AB0520;
}
    */
/*#endregion*/
/*#endregion*/

/*#region PROJECTS*/

/*#region Jumbo*/
.projects-jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url("https://techcoreassets.azureedge.net/images/Projects_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.static-title {
    margin: 90px 0 60px 0;
}

    .static-title .title {
        font-size: 55px;
        text-transform: uppercase;
        /*text-decoration: underline;*/
    }
/*#endregion*/
/*#region Featured Projects*/
.featured project {
    height: 100vh;
}

.project .c1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('https://techcoreassets.blob.core.windows.net/images/MappingGreekNarratives.PNG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 101%;
}

.project .c2 {
    background: url('https://techcoreassets.blob.core.windows.net/images/Temi002.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 101%;
}

.project .c3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('https://techcoreassets.blob.core.windows.net/images/uasecure.PNG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 101%;
}

.project .c4 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('https://lemurassets.blob.core.windows.net/images/IMG_0798.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 101%;
}

.project .c5 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('https://techcoreassets.azureedge.net/images/passports_facility_entry.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 101%;
}

.project .title {
    color: black;
    font-size: 55px;
    font-weight: bolder;
    line-height: 75px;
}

.project .carousel-inner, .project .carousel-item {
    height: 100vh
}

.project .carousel-item {
    padding: 10vh 50px;
}

.project .carousel-inner .row .col-lg-12 {
    background-color: rgba(255,255,255,0.5);
    padding: 25px 25px 25px 25px;
}

.project .carousel-item img {
    width: 100%;
}

.project .text {
    color: black;
}

@media (min-width: 767px) {
    .project .carousel-inner, .project .carousel-item {
        height: 80vh;
    }

    .project .carousel-item {
        padding: 15vh 100px;
    }
}

@media (max-width: 767px) {
    .project .title {
        font-size: 25px;
        line-height: 35px;
    }

    .project .carousel-inner .carousel-item .row img {
        display: none;
    }

    .project .carousel-inner .row .col-lg-12 {
        padding: 15px 15px 15px 15px;
    }

    .project .text {
        font-size: 1rem;
    }
}
/*#endregion*/
/*#region ALL Project Cards*/
.all-projects {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/shattered.png");
    padding: 15vh 0vh;
}

    .all-projects .title {
        color: black;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bolder;
    }

    .all-projects .project-card {
        background-color: white;
        background-size: cover;
        background-position: center;
        min-height: 300px;
        min-width: 300px;
        padding: 7%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-top: 2vh;
    }

    .all-projects .col-lg-4:hover .project-card {
        opacity: .2;
    }

    .all-projects .col-lg-4:hover .proj_overlay {
        opacity: 1;
    }

    .all-projects .col-md-6:hover .project-card {
        opacity: .2;
    }

    .all-projects .col-md-6:hover .proj_overlay {
        opacity: 1;
    }

    .all-projects .project-card h1 {
        color: white;
        font-weight: bolder;
    }

    .all-projects .proj_overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        min-height: 300px;
    }

        .all-projects .proj_overlay span {
            color: black;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }

        .all-projects .proj_overlay h5 {
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        .all-projects .proj_overlay .project-links a {
            color: #AB0520;
            font-size: 30px;
        }

            .all-projects .proj_overlay .project-links a:hover {
                color: #395180;
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            }



/*#endregion*/
/*#endregion*/

/*#region CONTACT */

.contact-jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/566003/TG%20-%20Old%20Main%20Sunset.jpg") no-repeat center center fixed;
    background-size: cover;
}

    .contact-jumbo input, .contact-jumbo textarea {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px;
        font-family: "MiloWeb";
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

.content-jumbo input[type=checkbox] {
    width: 0px;
}

@media (min-width: 767px) {
    .contact-jumbo input, .contact-jumbo textarea, .contact-jumbo .btn {
        width: 400px;
    }
}

.contact-jumbo input:hover, .contact-jumbo textarea:hover, .contact-jumbo input:active, .contact-jumbo input:focus, .contact-jumbo textarea:focus {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-jumbo .btn {
    border-radius: 5px;
    width: 300px;
    text-transform: uppercase;
    font-family: "MiloWeb";
    background-color: #AB0520;
    border-color: #AB0520;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (min-width: 767px) {
    .contact-jumbo .btn {
        width: 400px;
    }
}

.contact-jumbo .btn:hover {
    background-color: #0C234B;
    border-color: #0C234B;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact-jumbo form {
    margin-top: 5vh;
}

.contact-jumbo .form-group {
    margin-bottom: 10px;
}

.send-email {
    animation: sendEmail .6s ease-in-out;
}

@keyframes sendEmail {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(-100vh);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}



* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 600px;
}

/* Hide the images by default */
.mySlides {
    display: block;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
